@media (max-width: 1700px){
    .cont{
        width: 90%;
    }
}

@media (max-width: 550px){
    .logo{
        width: auto;
    }
    .logo p {
        font-size: larger;    
    }

    .subtitulo{
        font-size: x-large!important;
    }

    .form{
        width: 90%;
    }
}

@media (max-width: 450px){
    main{
        .cont{
            width: 85%;
        }
    }

    .h4-club{
        padding-top:0;
        padding: 30px;
        font-size: 1.2rem;
    }
    
    iframe{
        width: auto;
    }

    .form-row{
        flex-direction: column;
    }

}